.product-view {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
}

.product-view .image-view {
  height: 100%;
  background-color: #E9ECEF;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-view img {
    height: 300px;
    width: 300px;
}

.content-view {
    height: 100%;
    padding: 4em 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



@media (max-width: 768px) {
    .product-view {
      grid-template-columns: 1fr; /* Stack the columns on smaller screens */
    }
    .content-view {
        padding: 1.5em;
    }
  }