
.swiper-slide {
    height: 300px !important;
    width: 220px !important;
    z-index: 1 !important;
    -webkit-transition: transform 0.3s ease-in-out !important;
    -moz-transition: transform 0.3s ease-in-out !important;
    -ms-transition: transform 0.3s ease-in-out !important;
    -o-transition: transform 0.3s ease-in-out !important;
    transition: transform 0.3s ease-in-out !important;
  }
.swiper-slide  .card-product {
    height: 100%;
    width: 100% ;
  }

  
  .swiper-slide:hover  {
      z-index: 10 !important;
      -webkit-transform: scale(1.05) !important;
      -moz-transform: scale(1.05) !important;
      -ms-transform: scale(1.05) !important;
      -o-transform: scale(1.05) !important;
      transform: scale(1.05) !important;
  }
    
  
  .product-image {
    background-color: #e9ecef;
    height: 150px !important;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .product-image img {
    width: 120px;
    height: 120px;
  }

  .heart {
    width: 33px;
    height: 33px;
    background-color: white;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 10px;
    right: 10px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    
}

.product-image i {
    color: black;
    font-size: 19px;   
}


.red-heart {
    color: red !important;
}